{% extends "base.html" %}

{% block content %}
<h1>{{item.title}}</h1>
{% if current_user.is_authenticated and current_user.role != "sell" %}

<h1>Привет, {{current_user.name}}</h1>

{% for product in products %}
<div class="col-md6 border rounded">
    {% if product.id in cart_db.keys() %}
        {% if cart_db[product.id] != 0 %}
        <div>
            <h2>{{product.title}}</h2>
            <h4>Количество в корзине: {{cart_db[product.id]}}</h4>
            <h6>Цена: {{product.price}}</h6>
            <h4>Стоимость: {{product.price * cart_db[product.id]}}</h4>
            <a href="/delete_from_cart/{{ product.id }}" class="btn btn-danger">Удалить из корзины</a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endfor %}
<h1>Итого: {{price_all}}</h1>
<h1>Ваш баланс: {{balance}}</h1>
{% if price_all > balance %}
<h1>Недостаточно средств! Пополните баланс</h1>
<a href="/put_on_balance" class="btn btn-primary btn-lg btn-block">Пополнить баланс</a>
{% else %}
<a href="/accept_cart" class="btn btn-primary btn-lg btn-block">Купить</a>
{% endif %}
{% elif current_user.is_authenticated and current_user.role == "sell" %}
<a href="/register" class="btn btn-secondary">Вы не можете покупать товары, так как являетесь продавцом. Зарегистрируйтесь как покупатель</a>
{% else %}
<a href="/register" class="btn btn-secondary">Для совершения покупок необходимо зарегистрироваться</a>
{% endif %}

{% endblock %}