{% extends "base.html" %}

{% block content %}
<h1>Пополнение баланса</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    <div>
        <h2>Для пополнения баланса переведите <b>{{ data.sum }}</b> уе на QIWI-кошелек по номеру <b>{{ data.phone }}</b>
        </h2>
        <h2>В комментарии к платежу <u>ОБЯЗАТЕЛЬНО</u> укажите код <i>{{ data.hash }}</i></h2>
        <br>
        <h2>После проведения перевода <u>ОБЯЗАТЕЛЬНО</u> нажмите кнопку подтвердить!</h2>
    </div>
    <h2>Для подтверждения введите Ваш код в форму ниже</h2>

    <p>
            {{ form.hash.label }}<br>
            {{ form.hash(class="form-control") }}<br>
            {% for error in form.hash.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{ message }}
</form>
{% endblock %}