{% extends "base.html" %}

{% block content %}
<h1>{{item.event_name}}</h1>


<div class="col-md6 border rounded">
    <div>Значимость: {{item.value}}</div>
    <div>Дата проведения: {{ item.event_date }}</div>
    <div>Дата создания: {{ item.event_add_date }}</div>
    <div>Автор: {{ item.author.name }}</div>
    <div><h5>Описание: {{ item.annotation }}</h5></div>
    <div>Участники:</div>
    {% for student in students %}
        <div><a href="/student_card/{{student.id}}" >{{student}}</a></div>
    {% endfor %}

</div>

{% endblock %}