{% extends "base.html" %}

{% block content %}

<h1>Привет, {{current_user.name}}</h1>

{% for order in orders %}
<div class="col-md6 border rounded">
    <h3>Номер заказа: {{order.id}}</h3>
    {% for product in order.products.keys() %}
        {{product}}: {{order.products[product]}} <br>
    {% endfor %}
    Статус: {{order.status}}
    {% if current_user.id in super_admins_ids %}
    <a href="/edit_order_status/{{order.id}}/1" class="btn btn-secondary">В обработке</a>
    <a href="/edit_order_status/{{order.id}}/2" class="btn btn-secondary">Доставляется</a>
    <a href="/edit_order_status/{{order.id}}/3" class="btn btn-secondary">Доставлено!</a>
    <a href="/edit_order_status/{{order.id}}/error" class="btn btn-secondary">Что-то пошло не так! Свяжитесь с технической поддержкой!</a>
    {% endif %}
</div>
{% endfor %}

{% endblock %}