{% extends "base.html" %}

{% block content %}
<h1>{{item.title}}</h1>
{% if current_user.is_authenticated and current_user.role != "sell" %}
{% if item.quantity > 0 %}
<a href="../add_to_cart/{{current_user.id}}/{{item.id}}" class="btn btn-secondary">Добавить в корзину</a>
{% endif %}
{% elif current_user.is_authenticated and current_user.role == "sell" %}
<a href="/register" class="btn btn-secondary">Вы не можете покупать товары, так как являетесь продавцом. Зарегистрируйтесь как покупатель</a>
{% else %}
<a href="/register" class="btn btn-secondary">Для совершения покупок необходимо зарегистрироваться</a>
{% endif %}

<div class="col-md6 border rounded">
    {% if 0 < item.quantity < 10 %}
    <h2>Поторопитесь! Товаров осталось совсем немного</h2>
    {% elif item.quantity < 1 %}
    <h2>К сожалению, товары закончились</h2>
    {% endif %}
    <div>
        На складе: {{ item.quantity }}
    </div>
    <div>
        {{ item.content }}
    </div>
    <div>
        Продавец: {{ item.user.name }}
    </div>
    <div>
        <h5>Цена: {{ item.price }}</h5>
    </div>
    <div>
        <h5>Описание: {{ item.description }}</h5>
    </div>
    <img class="d-block w-50" src={{item.photo_path}} alt="Продавец еще не добавил изображение">

</div>

{% endblock %}